.btn {
  padding: 1rem 2rem;
  cursor: pointer;
  font: var(--p);
  border: none;

  &.btn-primary {
    background-color: var(--primary-color);
    color: var(--text-white);

    &:hover {
      background-color: var(--text-white);
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
    }
  }
}
