<header>
  <div class="container">
    <div class="logo">
      <img src="images/logo.png" alt="" />
    </div>
    <i class="uil uil-bars"></i>
    <nav class="nav-container">
      <app-link [href]="'/'" [label]="'Home'"></app-link>
      <app-link [href]="'/products'" [label]="'Products'"></app-link>
      <app-link [href]="'/faqs'" [label]="`FAQ's`"></app-link>
      <app-link [href]="'/contact-us'" [label]="'Contact Us'"></app-link>
      <app-button [label]="'Order Now'" [borderRadius]="30"></app-button>
    </nav>
  </div>
</header>
