.hero-section {
  width: 100%;

  @media (min-width: 1024px) {
    height: 620px;
    background-image: url("/images/hero.webp");
    display: flex;
    justify-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: 1440px) {
    height: 890px;
    background-size: cover;
  }

  .hero-content {
    text-align: center;
    padding: 10rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1024px) {
      padding: 12rem 1rem;
    }

    @media (min-width: 1440px) {
      padding: 15rem 1rem;
    }

    .header {
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 1.2em;
      margin-bottom: 1rem;
      max-width: 1030px;

      @media (min-width: 1024px) {
        font-size: 4rem;
        margin-bottom: 2rem;
      }
    }

    .sub-header {
      max-width: 350px;
      margin-bottom: 2rem;

      @media (min-width: 768px) {
        max-width: 600px;
      }

      @media (min-width: 1024px) {
        font-size: 1.25rem;
      }
    }
  }
}

.best-seller-section {
  padding: 4rem 1rem;
  background-color: var(--background-secondary);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 300;
    color: var(--primary-color);
    margin-bottom: 3rem;
  }

  .card-list {
    max-width: 1060px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    align-items: center;

    flex-wrap: wrap;

    .item {
      flex: 1 1 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;

      @media (min-width: 1024px) {
        flex: 1 1 calc(33.333%);
      }
    }
  }
}
