<div>
  <section class="hero-section">
    <div class="hero-content">
      <p class="header fade-in-text fade-in-delay-1">
        You Deserve a Cake as Special as Your Moment
      </p>
      <p class="sub-header fade-in-text fade-in-delay-2">
        I craft every cake with care, so it doesn’t just look beautiful— it
        feels meaningful, and tastes unforgettable.
      </p>

      <app-button
        class="fade-in-text fade-in-delay-2"
        [label]="'Start Your Order'"
        [borderRadius]="30"
      ></app-button>
    </div>
  </section>
</div>
