<div>
  <section class="hero-section">
    <div class="hero-content">
      <p class="header fade-in-text fade-in-delay-1">
        You Deserve a Cake as Special as Your Moment
      </p>
      <p class="sub-header fade-in-text fade-in-delay-2">
        I craft every cake with care, so it doesn’t just look beautiful— it
        feels meaningful, and tastes unforgettable.
      </p>

      <app-button
        class="fade-in-text fade-in-delay-2"
        [label]="'Start Your Order'"
        [borderRadius]="30"
      ></app-button>
    </div>
  </section>

  <section class="best-seller-section">
    <h1>Our Best Sellers</h1>

    <div class="card-list fade-in-text fade-in-delay-1">
      @for (item of BEST_SELLERS; track $index) {
      <app-best-seller-card class="item" [item]="item"></app-best-seller-card>
      }
    </div>
  </section>
</div>
