<div class="footer">
  <div class="container">
    <img src="/images/logo-white.png" alt="" />

    <div class="details">
      <div class="detail">
        <h3>Quick Links</h3>

        <p>FAQ's</p>
        <p>Contact us</p>
      </div>
      <div class="detail">
        <h3>Follow us</h3>

        <div class="with-logo">
          <i class="uil uil-instagram"></i>
          <p>{{`@himamapappots`}}</p>
        </div>
      </div>
    </div>
  </div>
  <p class="">© Copyright 2025 Mama Pappots</p>
</div>
